<?xml version="1.0" encoding="utf-8"?>

<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0" />
	</startup>
	<appSettings>
		<add key="TrueFXRatesUrl" value="http://webrates.truefx.com/rates/connect.html?f=html" />
		<add key="FXCMRatesUrl" value="http://rates.fxcm.com/RatesXML" />
		<add key="GainCapitalRatesUrl" value="demorates.efxnow.com" />
		<add key="GainCapitalRatesPort" value="443" />
		<add key="GainCapitalRatesToken"
			 value="TKNnhKlnd+NZF2oyBT6Bc3cmp/DVdVh11R29Bc/4xuG9GkS5S2sylxO5L6JGOLhvwEUDVUz9EyiJRuM3QD+FpQdnHiG2Z+AaksiD0/Ko63e3AUGvkMdoCLezJoMbBtwPMw/ckV6swtadgU=" />
		<add key="ServerUrl" value="http://localhost:22222/" />
		<add key="UpdateInterval" value="500" />
	</appSettings>
</configuration>